<div class="container">
    <div class="container-fluid bg-1 text-center">
        <h1>Vocab</h1>
    </div>
    <div>
        <h4 *ngIf="status" [ngClass]="success ? 'text-success' : 'text-danger'">{{message}}</h4>
        <h4><small>All fields are required</small></h4>
        <div class="row well text-center">
            <form class="form-horizontal" (ngSubmit)="onSubmit()">
                <div class="col-sm-12">
                    <div *ngIf="vocab" class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="french">French</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="french" name="french"
                                    [(ngModel)]="vocab.french">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pronunciation">Pronunciation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="pronunciation" name="pronunciation"
                                    [(ngModel)]="vocab.pronunciation">
                            </div>
                        </div>

                        <div class=" form-group">
                            <label class="control-label col-sm-2" for="english">English</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="english" [(ngModel)]="vocab.english">
                            </div>
                        </div>
                        <div class=" form-group">
                            <label class="control-label col-sm-2" for="category">Category</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="categorys"
                                    (ngModelChange)="onChangeC($event)" [(ngModel)]="vocab.category" name="categorys">
                                    <option *ngFor="let category of categorys" [ngValue]="category.id"
                                        [selected]="category.id==vocab.category">
                                        {{category.category_abrev}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class=" form-group">
                            <label class="control-label col-sm-2" for="vtypes">Type</label>
                            <div class="col-sm-9"><select class="form-control" id="vtypes"
                                    (ngModelChange)="onChangeT($event)" [(ngModel)]="vocab.vtype" name="vtypes">
                                    <option *ngFor="let vtype of vtypes" [ngValue]="vtype.id"
                                        [selected]="vtype.id==vocab.vtype">
                                        {{vtype.vtype_desc}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class=" form-group">
                            <label class="control-label col-sm-2" for="example">Example</label>
                            <div class="col-sm-9"><input type="text" class="form-control" name="example"
                                    [(ngModel)]="vocab.example">
                            </div>
                        </div>
                        <div class=" form-group">
                            <label class="control-label col-sm-2" for="note">Note</label>
                            <div class="col-sm-9"><input type="text" class="form-control" name="note"
                                    [(ngModel)]="vocab.note">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-md-3">
                            <button type="button" name="draft" class="btn btn-info btn-block">Draft</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="reset" class="btn btn-warning btn-block">Reset</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                        <div class="col-md-3">
                            <a name="discard" class="btn btn-danger btn-block" data-toggle="modal"
                                data-target="#discardModal">Discard</a>
                        </div>
                        
                    </div>
                </div>
            </form>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="discardModal" tabindex="-1" role="dialog" aria-labelledby="discardModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="discardModalLabel">Just double check</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Did you save or submit your input yet?
                </div>
                <div class="modal-footer">
                    <div class="row justify-content-end">
                        <div class="col-2">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Stay</button>
                        </div>
                        <div class="col-2"><button type="button" class="btn btn-danger btn-block"
                                (click)="onDiscard()">Leave</button>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>