<div class="container">
    <div class="container-fluid bg-1 text-center">
    <h1>Vocab</h1>   
    </div>
    <div class="col-lg-12">
        <div class="row well">
                
            <div class="col-md-12 ">          
                
                <div class="col-md-7">            
                    <h4 *ngIf="status" 
                    [ngClass]="success ? 'text-success' : 'text-danger'"
                    >{{message}}</h4> 
                </div>   
                <div class="col-md-4 text-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchVocab" >
                        <div class="input-group-btn">
                          <button class="btn btn-default " type="submit" (click)="onSearchChange(searchVocab)">
                            <i class="material-icons md-8">search</i>
                          </button>
                        </div>
                      </div>
                </div>  
                <div class="col-sm-1">                   
                    <button class="btn btn-success  btn-sm" type="submit" [routerLink]="['/vocab/add']">
                        <i class="material-icons">add</i> 
                    </button>
                </div>
            </div>
            <div class="col-lg-12 ml-auto mr-auto " style="margin-top:10px;">
                <div *ngIf="vocabs.length !== 0" class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>       
                                               
                                <th >French</th>
                                <th>Pronunciation</th>
                                <th >Type</th>
                                <th>English</th>
                                <th >Category</th>
                                <th>Example</th>
                                <th>Note</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vocab of vocabs| paginate: config" 
                            [class.highlighted]="vocab.is_draft == true">
                            
                                <td>{{vocab.french}}</td>
                                <td>{{vocab.pronunciation}}</td>
                                <td>{{vocab.vtype.vtype_desc}}</td>
                                <td>{{vocab.english}}</td>
                                <td>{{vocab.category.category_abrev}}</td>
                                <td>{{ (vocab.example.length>20)? (vocab.example | slice:0:20)+'..':(vocab.example) }}</td>                        
                                <td>{{ (vocab.note.length>20)? (vocab.note | slice:0:20)+'..':(vocab.note) }}</td>                        
                                <td class="td-actions text-right">                             
                                    <a type="button" class="btn btn-success btn-just-icon btn-sm "
                                    style="margin-left:10px;"
                                    [routerLink]="['/vocab/edit',vocab.id]">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <button (click)="deleteVocab(vocab.id)" type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="margin-left:10px;">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="col-md-6 text-left">                   
                        {{totalitems}} <b> vocabularies are found.</b>
                    </div>
                    <pagination-controls class="col-md-6 text-right"
                        [maxSize]="maxSize"  
                        (pageChange)="pageChanged($event)">
                    </pagination-controls>
                </div>
            </div>
            
        </div>
    </div>
</div>